.DS_Store
**/node_modules
**/.npmrc
/docs/jsdoc
/lib/configurations/internal/appconfiguration.json

# Coverage directory used by tools like jest
coverage

# Optional eslint cache
.eslintcache

# IDE files
.idea
.vscode/