.DS_Store
**/node_modules
**/.npmrc
/docs/jsdoc
examples/package-lock.json
test/unit/configurations/appconfiguration.json

# Coverage directory used by tools like jest
coverage

# Optional eslint cache
.eslintcache

# IDE files
.idea
.vscode/